body{
    background-color: hsl(225, 100%, 94%);
    margin: 0;
    width:100%;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;

}

img {
  border-radius: 10px 10px 0 0;
}

.card {
  text-align: center;
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  width: 330px;
  height: 530px;
  position: relative;
  bottom: 250px;
  margin: auto;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.music{
  float: left;
  width:10%;
  position: relative;
  left: 20px;
  top:10px;
}

.plan{
  position: relative;
  right: 15px;
  line-height: 0.2;
  margin: 20px auto ;
}

a{
  position: relative;
  left: 100px;
  bottom: 45px;
}

.earning{
  text-align: center;
  background-color: hsl(225, 100%, 98%);
  width: 80%;
  height: 10%;
  padding: 5px 20px 0 0 ;
  border-radius: 15px;
position: relative;
left:20px;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 3px hsl(225, 100%, 98%);
  -moz-box-shadow: 0px 10px 3px hsl(225, 100%, 98%);
  box-shadow: 0px 10px 0px hsl(225, 100%, 98%);
  font-family: 'Red, Hat, Display';
  color: white;
  font-size: 15px;
  background: hsl(245, 75%, 52%);
  padding: 10px 65px 10px 65px;
  text-decoration: none;
  position: relative;
  bottom:auto;
  left :auto;
  top:5px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.order{
  position: relative;
  top:15px;
}

p{
  font-size:16px;
}
